
<div class="container" id="log_in_form" >
<h2> Create new user form.. <i class="em em-zap" aria-role="presentation" aria-label="HIGH VOLTAGE SIGN"></i></h1>
<%= form_with model: @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <br>
    <br>
    <%= f.submit "Login" %>
<% end %>
</div>

<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">